* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../scss/cars.jpg);
  background-repeat: no-repeat;
  background-size: cover;



}

.for-flex {
  display: flex;
  align-items: center;
  justify-content: center;


  h1 {
    font-family: "Trebuchet MS", Verdana, sans-serif;
  }
}

.car-inventory {
  padding: 15px;
  border: 2px solid white;
  box-shadow: 5px 5px 5px rgb(246, 242, 242);
  border-radius: 6px;
  width: 500px;
  margin-top: 150px;

  .make-model-color-year input {
    padding: 5px 5px;
    margin: 5px 5px;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 10px;


  }

  select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

}

.button-submit {
  display: flex;
  justify-content: center;

  button {
    background-color: rgb(177, 250, 250);

  }
}

.navbar {
  height: 60px;
  background-color: rgb(55, 162, 223);
  position: relative;

  .navbar-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    position: absolute;




  }

  .navbar-menu li {
    line-height: 60px;
    margin: 0 0px;
    padding: 0;
    text-align: center;
    display: inline-block;

  }

  .navbar-menu li a {
    position: relative;
    margin: 0 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;


  }

}

.button-submit button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}